<ul>
    <li>{{link-to 'react' 'org.repo.issues' 'react'}}</li>
    <li>{{link-to 'react-native' 'org.repo.issues' 'react'}}</li>
    <li>{{link-to 'watchmen' 'org.repo.issues' 'react'}}</li>
</ul>

{{outlet}}
